@media (max-width: 1500px) {
    .main-steps {
        &__item {
            &:nth-child(1) {
                background: image-set(url(../images/main-steps-1.avif), url(../images/main-steps-1.webp), url(../images/main-steps-1.png)) var(--grey-bg) right -15px bottom -5px / 200px no-repeat;
            }

            &:nth-child(2) {
                background: image-set(url(../images/main-steps-2.avif), url(../images/main-steps-2.webp), url(../images/main-steps-2.png)) var(--grey-bg) right 20px bottom 15px / 100px no-repeat;
            }

            &:nth-child(3) {
                background: image-set(url(../images/main-steps-3.avif), url(../images/main-steps-3.webp), url(../images/main-steps-3.png)) var(--grey-bg) right -15px bottom -5px / 150px no-repeat;
            }
        }
    }

    .assistance {
        &__container {
            grid-template-columns: 1fr 1fr;
        }

        picture {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .platform-app {
        .container {
            grid-template-columns: 1fr 500px;
        }
    }
}