@media (max-width: 768px) {
    .main-why {
        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            padding: 15px;
        }

        &__banner {
            grid-column: initial;
            grid-row: 7;
            gap: 40px;
            align-items: start;
            padding: 15px;
        }

        &__heading {
            font-size: 20px;
            line-height: 24px;
        }

        &__btn {
            padding: 15px 50px;
        }
    }

    .main-analitycs {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    .footer {
        .menu {
            justify-content: space-between;
            gap: 30px;
        }
    }
}