@media (max-width: 900px) {
    .overview-events {
        .container {
            grid-template-columns: 1fr;
            gap: 0;
            justify-items: center;

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .platform-tr {
        &__item {
            grid-template-columns: 1fr;
            gap: 0;
        }
    }
}