@media (max-width: 992px) {
    .main-why {
        &__list {
            grid-template-columns: 1fr 1fr;
        }

        &__banner {
            grid-column: 1/3;
            grid-row: 4;
        }
    }

    .assistance {
        &__container {
            grid-template-columns: 1fr;
        }
    }

    .tips-read {
        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            min-height: 150px;

            &:nth-child(5) {
                grid-column: initial;
            }
        }

        picture {
            grid-column: initial;
            grid-row: initial;

            img {
                height: 320px;
                object-position: top;
            }
        }
    }

    .about-history {
        &__container {
            grid-template-columns: 1fr;
            gap: 30px;
        }

        h2 {
            margin-bottom: 25px;
        }
    }
}