@media (max-width: 992px) {
    .main-why {
        &__list {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            
        }

        &__banner {
            grid-column: 1/3;
            grid-row: 4;
        }
    }

    .assistance {
        &__container {
            grid-template-columns: 1fr;
        }
    }
}