@media (min-width: 1024px) {
    .header {
        .menu {
            &>.menu-item {
                &:hover {
                    &>a {
                        color: var(--hover);
                        cursor: default;
                    }

                    &::before {
                        opacity: 1;
                        transform: none;
                    }

                    &::after {
                        display: block;
                    }

                    .sub-menu {
                        transform: none;
                    }
                }
            }

            .sub-menu {
                .menu-item {
                    a {
                        &:hover {
                            color: var(--green-medium);
                        }
                    }
                }
            }
        }

        &__btn {
            &:hover {
                color: var(--hover);

                &::after {
                    background: url(../images/header-btn-hover.svg) center / contain no-repeat;
                }
            }
        }
    }

    .footer {
        .menu {
            &>.menu-item {
                &:hover {
                    &>a {
                        cursor: default;
                    }
                }
            }

            .sub-menu {
                .menu-item {
                    &:hover {
                        a {
                            color: var(--hover);
                        }
                    }
                }
            }
        }
    }

    .btn {
        &--dark {
            &:hover {
                background: var(--green-medium);
            }
        }

        &--white {
            &:hover {
                color: var(--white);
                background: var(--green-dark);
            }
        }

        &--white-box {
            &:hover {
                width: 100%;

                span {
                    position: initial;
                    width: auto;
                    opacity: 1;
                    font-size: 16px;
                    line-height: 112%;
                }
            }
        }

        &--green {
            &:hover {
                width: 100%;

                span {
                    position: initial;
                    width: auto;
                    opacity: 1;
                    font-size: 16px;
                    line-height: 112%;
                }
            }
        }
    }

    .upButton {
        &:hover {
            transform: scale(1.2);
        }
    }

    .main-platform {
        &__try {
            &:hover {
                background: var(--green-dark);
                color: var(--white);
            }
        }
    }
}