<section class="assistance">
    <div class="container">
        <div class="assistance__box">
            <div class="title white-bg">Professional Assistance Anytime, Anywhere</div>
            <h2>Our support team is here for you around the clock. Get assistance in multiple languages for all your trading needs, so you never miss an opportunity</h2>

            <a href="contacts.html" class="btn btn--dark btn--center">Contact support</a>
        </div>

        <picture>
            <source srcset="images/assistance-image.avif">
            <source srcset="images/assistance-image.webp">
            <img src="images/assistance-image.png" alt="">
        </picture>
    </div>
</section>