<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale = 1.0">

    <!-- Берется из js -->
    <title></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header">
        <div class="wide-container">
            <div class="container">
                <nav class="header__nav">
                    <a href="/" class="header__logo"></a>

                    <ul class="menu">
                        <li class="menu-item">
                            <a href="##">Trading</a>

                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="terms.html">Trading terms</a>
                                </li>
                                <li class="menu-item">
                                    <a href="platform.html">Trading platform</a>
                                </li>
                                <li class="menu-item">
                                    <a href="instruments.html">Trading Instruments</a>
                                </li>
                                <li class="menu-item">
                                    <a href="tips.html">Trading tips</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item">
                            <a href="##">Analytics</a>

                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="overview.html">Market overview</a>
                                </li>
                                <li class="menu-item">
                                    <a href="news.html">Market news</a>
                                </li>
                                <li class="menu-item">
                                    <a href="forecasts.html">Market forecasts</a>
                                </li>
                                <li class="menu-item">
                                    <a href="calendar.html">Economic calendar</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item">
                            <a href="##">About us</a>

                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="about.html">About Breezum</a>
                                </li>
                                <li class="menu-item">
                                    <a href="contacts.html">Contacts</a>
                                </li>
                                <li class="menu-item">
                                    <a href="documents.html">Documents</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <a href="##" class="header__btn">Sign In</a>
            </div>
        </div>
    </header>