<section class="platform-why">
    <div class="container">
        <div class="title white-bg">Why Breezum platforms?</div>
        <h2>The modern platform is always there for you</h2>

        <div class="platform-why__list">
            <div class="platform-why__item">
                <img src="images/main-why-item-6.svg" alt="">
                <h3>User-Friendly Design</h3>
                <p class="texts">Intuitive interface for quick access and easy navigation</p>
            </div>

            <div class="platform-why__item">
                <img src="images/red-clock.svg" alt="">
                <h3>Real-Time Data</h3>
                <p class="texts">Instant updates and live market insights</p>
            </div>

            <div class="platform-why__item">
                <img src="images/main-why-item-6.svg" alt="">
                <h3>Comprehensive Tools</h3>
                <p class="texts">Technical indicators, charting tools, and market analysis</p>
            </div>

            <div class="platform-why__item">
                <img src="images/red-clock.svg" alt="">
                <h3>High Security</h3>
                <p class="texts">Advanced security measures to protect your data and funds</p>
            </div>

            <div class="platform-why__item">
                <img src="images/main-why-item-3.svg" alt="">
                <h3>Multi-Device Access</h3>
                <p class="texts">Trade from desktop, mobile, or browser with synchronized features</p>
            </div>

            <div class="platform-why__item">
                <img src="images/main-why-item-5.svg" alt="">
                <h3>24/7 Support</h3>
                <p class="texts">Professional assistance anytime, anywhere</p>
            </div>
        </div>
    </div>
</section>